/* CSS Document */


nav {
	width: 100%;
	margin: 0px auto;
	overflow: hidden;	
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav li a {
	background: #333;
	border-right: 1px solid #fff;
	color: #fff;
	display: block;
	float: left;
	font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 135px;
	
	/*TRANSISTIONS*/
		-webkit-transition: background 0.5s ease;
		-moz-transition: background 0.5s ease;
		-o-transition: background 0.5s ease;
		-ms-transition: background 0.5s ease;
		transition: background 0.5s ease;
}

#topnav ul		{ 	}
#topnav ul li		{ display:inline; 	}
#topnav ul li a	{ 	}

#topnav a:link		{ color:#fff; text-decoration:none;	}
#topnav a:visited	{ color:#fff; text-decoration:none;	}
#topnav a:active	{ color:#fff; text-decoration:none;	}
#topnav a:hover	{ color:#fff; text-decoration:none;	}
#topnav a:focus	{ color:#fff; text-decoration:none;	}


/*HOVER*/
nav li a:hover {
	background:#000;
}

/*SMALL*/
nav small {
	font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
	color: #ccc;
}

/*BORDER FIX*/
nav li:last-child a {
	border: none;
}

